<div class="container">
    <div class="row">
        <div class="aboutMe-view" ng-controller="aboutMeController">

            <div ng-repeat="skill in skills">
                <div class="row">
                    <div class="col-sm-12">
                        {{skill.name}}
                    </div>
                    <div class="col-sm-12">
                        {{skill.level}}
                    </div>
                    <div class="col-sm-12">
                        {{skill.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="height:400px">
            STUFF
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" style="height:400px">
            STUFF
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" style="height:400px">
            STUFF
        </div>
    </div>
    
</div>