

@background: #F1F2F1;


@main-color0:black;
@main-color1:#938E61;
@main-color2: white;
@main-color3:#1E1C24;
@main-color4:black;
@main-color5:black;
@main-color6:black;
@main-color7:black;
@main-color8:black;
@main-color9:black;
@main-color10:black;

@import "Views/AboutMe.less";
@import "Views/ComingSoon.less";
@import "Misc/Lato/lato.less";

// Componenets
@import "Components/NavBar.less";
@import "Components/SkillTile.less";

body {
    background-color: @background;
    position: relative;
    overflow-x: hidden;
    }

body,
html {
     height: 100%;
     }
 
