
@about-me-skill-title-background: #89877A;

#me{
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  margin-top:20px;
  overflow:hidden;
}

.about-me-description{
font-family:LatoThin;
background-color:@main-color2;
padding: 40px 0 0 0;
margin: 0px 0 0 0;
    p {
      font-family: Lato-thin;
      font-size: 2em;
      margin: 20px 0 20px 0;
    }
}

.skill-container{
    padding:5px 20px 20px 20px;
    height: 300px;
    background-color: @main-color2;
    // box-shadow: 1px 1px 1px #888888;
}
 .skill-row{

     margin-top: 20px;
 }
.skill-title{
    font-family: Latobold;

    padding:5px 10px 5px 0px;
    border-bottom: 1px solid #89877A;

}
.skill-line{
    border-bottom:1px solid grey;
    width:100%;
} 
.skill-grid{

}
.skill-description{
  font-family: Lato-thin;
  font-size: 1em;
}      